.DS_Store

app/application/cache/*
!app/application/cache/index.html
!app/application/cache/.htaccess

app/application/logs/*
!app/application/logs/index.html
!app/application/logs/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

app/application/config/database.php

app/assets/**
!app/assets/default.jpg
!app/assets/favicon.jpg

.editorconfig

data/mysql/*
!data/mysql/.gitkeep
